.laptop{
    background: green;
}
.mobile{
    background: red;
}
.galaxy{
    background: blue;
}
.tablet{
    background: orange;
}
.contact{
    background: purple;
}
    p{
        padding: 10px;
        text-align: center;
    }