.green{
    height: 100px;
    background: green
}
.red{
        height: 100px;
    background: red;
}
.blue{
        height: 100px;
    background: blue;
}
.orange{
        height: 100px;
    background: orange;
}
.purple{
        height: 100px;
    background: purple;
}