.laptop{
    background: green;
}
.mobile{
    background: red;
}
.galaxy{
    background: blue;
}
.tablet{
    background: orange;
}
.contact{
    background: purple;
}
p, h1{
    padding: 10px;
    text-align: center;
}
.row{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.col{
    padding-right: 0;
    padding-left: 0;
}
